/* 
    Modifications to Shiny classes (including Bootstrap, shinydashboards, shinycssloaders, Highcharts)  
    Typically, you won't change this. Most changes should be made at customize.css. 
*/


    .shiny-server-account { float: right; }

    /* fixes to vertical placement of items. these can be problematic and may need to be fixed often. */

        /* main tab, including tab labels/headers */
        .content-wrapper, .right-side { top: 15px; position: relative; } /* the logo throws off the height of the tabs, this fixes it. */
        /*.tab-content { position: relative; top: 1px; } /* aligns the tabs with tab headers */

    /* uncategorized items */
    .row li, #dom_clone li { display: inline-block; }
    .row { margin: 0; padding: 15px; }
    .col-sm-12 { padding: 0; position: static; }
    #shiny-notification-panel { position: absolute !important; top: 50px !important; right: 35px !important; }

    /* Tabset selectors: Geographic, Performance, etc.. */
    /* inactive/default */ .tabbable > .nav > li > a { border-radius: 0px; background-color: #00A8C8; color: white; border: none; font-family: 'SlatePro-Medium'; 
        letter-spacing:0.6px; font-size: 1.1em; transition: background 0.2s; margin: 0; 
    }
    /* hover */ .tabbable > .nav > li > a:hover { border-radius: 0px; background-color: #006d9e; color: white; border: none; margin: 0; }
    /* active */ .tabbable > .nav > li.active > a, .tabbable > .nav > li.active > a:focus { border: none; border-radius: 0px; background-color: #006d9e; color:white; margin: 0; }


    /* Disable error messages in UI */
    .shiny-output-error { visibility: hidden; }
    .shiny-output-error:before { visibility: hidden; }  

    /* Spinner fixes */
    .loader { position:relative; top: -50px; }

    /* Sidebar */

        /* Filter */

            /* Labels on input controls, including filters. */
            .sidebar > ul > li > .shiny-input-container > label { 
                font-family: 'SlatePro'; font-weight:normal; width: 100%; background-color: #00A8C8; color: White; margin:0; padding: 5px; padding-left:5px; font-size: 1.2em; 
                letter-spacing: 0.8px;
            }
            .sidebar .item { max-width: 90px; }
            /* Numeric inputs */
            #number_filters_div .form-group.shiny-input-container { padding: 5px; }
            /* Filters' selected values space */
            .chart_container .selectize-control > .selectize-input { border-radius: 0; }
        
            /* Include/exclude button */
            #sidebarInputs_div .shiny-input-container { padding-right: 0; }
            #sidebarInputs_div, .main-sidebar.shiny-bound-input { overflow: hidden; }
            .inex button { margin: 0 !important; padding: 0px; margin-top: 39px !important; }
            .inex button, #CP_incChangeView { color: #dadedf; border-style: none; background-color: transparent; vertical-align: middle; }
            .inex button.selected, #CP_incChangeView.selected { color: #707c80; }

        /* Options space */ 
            .form-control { padding: 5px; color:#707c80; height:auto; font-size: 1.1em;  font-family: 'OpenSans';  } 
            select.form-control { padding: 0; }
            .shiny-input-container:not(.shiny-input-container-inline) { width: auto; }
            .main-sidebar { width: 180px; z-index: 1; overflow-y: auto; margin-top: 15px;  } /* width must match margin-left on .content-wrapper */
            .content-wrapper { margin-left: 180px; background-color: transparent; }
            .content { position: relative; top: -60px !important; }
            .logo{ z-index:3; max-width: 165px; }
            #clearButton { padding:5px; margin:0; font-size:1.1em; }
            
    /* Main Content Wrapper */

        .navbar-static-top { z-index: 2; }
        .main-header { z-index: 2; }
        .wrapper { overflow-x: visible; overflow-y: visible; width: 1880px; position: static; } /* Removes second scrollbar on some pages. */

        /* hide/expand button */ 
        .skin-blue .main-header .navbar { background-color: transparent; }
        .skin-blue .main-header .navbar .sidebar-toggle { color: #00A8C8; display: none; }
        .skin-blue .main-header .navbar .sidebar-toggle:hover { background-color: transparent; color: #00A8C8;  }

        /*Main tab box */
        .box.box-solid.box-primary > .box-header { background-color: #acb6b9; } /* label at top of tab */
        .box.box-solid.box-primary { border-color: #006d9e; border-width:1.5px; }
        
    /* Misc overrides */

        .skin-blue .main-sidebar {background-color:transparent;} 
        /* .shiny-output-error { visibility: hidden; }  /*turns off any error messages from popping up in the UI */
        .shiny-output-error:before {visibility: hidden; }
        .navbar { background-color: transparent; }
        .skin-blue .main-header .logo, .skin-blue .main-header .logo:hover { background-color: transparent; }
        .tab-pane { min-height: 900px; } /* Set starting height to prevent things moving around when it grows, and to give plenty of room for sidebars to not get cut off */
        .box { border-radius: 0; border-top: none; box-shadow: none; border: none;}  /* We don't want the thick top border, it's distracting. Also the curved border is distracting and out of style. */
        .box-primary{ background-color: transparent; }
        section.content { padding: 0; }
        .skin-blue .wrapper { background-color: transparent; } /* This color shows under the client logo when you hide the filter menu. */
        .container-fluid{ text-align: left; padding: 0; }
        .nav-tabs-custom { padding: 0px; background-color: transparent; box-shadow:none; }
        .nav.nav-tabs {  color: #dadedf; letter-spacing: 0.4px; font-weight:normal;  font-size: 1em; font-family: 'Rubik';  }
        .nav-tabs-custom > .tab-content, .nav-tabs-custom > .nav-tabs > li.active > a { background-color: transparent; color: #555f61; font-weight:normal; }
        .nav-tabs-custom > div.tab-content { padding: 0; }
        .nav-tabs { border-bottom:none}
        div.nav-tabs-custom > ul.nav-tabs { background-color: transparent; } /* dark background on tab tops. */
        .nav-tabs-custom ul.nav.nav-tabs > li:hover { background-color: White; }
        /*div.tab-content { min-width: 1060px; }*/
        div.tab-content > div.tab-pane { border:solid 1px #006d9e; }
        div.tab-content > div.tab-pane div.tab-pane { border:none; }
        div.form-group { margin-bottom: 0px; } /* remove extra spaces below selectors */
        .shiny-text-output.shiny-bound-output { display: inline; } /* these are simple text, we don't want them to start a new line */

    /* Help pop-ups */
        .panel-primary { border-radius:0px; border-color: #acb6b9; box-shadow: none; }
        .panel-primary > .panel-heading { border: none; border-radius: 0px; background-color: transparent;  }