.dataTable { font-size: 10pt; }

/* fix dark borders (they are distracting) */
.dataTable th { font-family: OpenSans-Medium; font-weight: normal !important; border-bottom: 3px solid #ddd !important; }
table.dataTable.no-footer { border-bottom: 1px solid #ddd !important; }
table.dataTable tfoot th, table.dataTable tfoot td { border-top: 3px solid #ddd !important; border-bottom: none !important; }

table.dataTable td, table.dataTable th { border-right: 1px solid #ddd; }
table.dataTable td:last-child, table.dataTable th:last-child { border-right: none !important; }

.dataTable{ border: 1px solid #ddd; }

.dataTable .border-left { border-left: 1px solid #ddd; }
.dataTable tr.totalRow, .dataTable td.bold { font-family: OpenSans-Medium; font-weight: normal; }
.dataTable tr.totalRow td { border-top: 3px solid #ddd !important; }
.dataTable td.totalCol { font-family: OpenSans-Medium; font-weight: normal; }

table.display.dataTable { max-width: 100%; }